main .comingTexted{
    text-align: center;
    letter-spacing: 9px;
    margin-bottom: 1.5rem;
}

main .comingTexted h1{
    font-weight: 300;
    color: var(--Desaturated-Red);
    font-size: 35px;
}

main .comingTexted p {
    font-weight: 600;
    font-size: 35px;
}

main .texted{
    text-align: center;
    width: 65%;
    margin: 1rem auto;
    margin-bottom: 3rem;
}
main .texted p{
    color: var(--Desaturated-Red);
    font-size: 15px;
}